<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" >
    <style>
        div p{
            color:blue;
        }
        input[type="text"]{
            color:brown;
            border: 2px solid red;
        }
    </style>
</head>
<body>
    <h1>Hello</h1>
    <p> This is me</p>
    <img src="" alt="">
    <p>Its me again</p>
    <div><p>Hai</p></div>
    <input type="text">
    <input type="password">
</body>
</html>